<section id="education">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-4 mt-md-5 text-center first">
				<figure></figure>
				<div class="text">
					<h1 class="mt-5">Bachelor's degree</h1>
					<h3>New Western College</h3>
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida velit leo, a commodo sem ornare id. </p>
				</div>
			</div>
			<div class="col-12 col-md-4 mt-md-5 text-center secound">
				<figure></figure>
				<div class="text">
					<h1 class="mt-5">Master's degree</h1>
					<h3>New Western College</h3>
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida velit leo, a commodo sem ornare id. </p>
				</div>
			</div>
			<div class="col-12 col-md-4 mt-md-5 text-center third">
				<figure></figure>
				<div class="text">
					<h1 class="mt-5">Certifications</h1>
					<h3>New Western College</h3>
					<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida velit leo, a commodo sem ornare id. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="triangle"></div>
</section>
