<nav #contentNav class="content-nav">
	<section class="container-fluid">

		<section class="row navigation">

			<section class="offset-1 offset-md-0 col-1 mt-3">
				<figure class="logo"></figure>
			</section> 

			<nav class="mt-3 col-10 hidden-md-up d-flex justify-content-end">
				<div id="hamburger" >
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

			<nav class="col-12 col-md-11 navbar mt-3">
				
				<ul class="nav flex-column flex-md-row
				justify-content-center 
				justify-content-md-end 
				text-center"
				>
					<li class="nav-link"><a href="#about_me">About Me</a></li>
					<li class="nav-link"><a href="#education">My Education</a></li>
					<li class="nav-link"><a href="#my_skills">My Skills</a></li>
					<li class="nav-link"><a href="#my_portfolio">My Portfolio</a></li>
					<li class="nav-link"><a href="#contact">Contact Me</a></li>
				</ul>	

			</nav>
		</section>
	</section>
</nav>
<section class="container-fluid">
	<section #headerNav  class="row navigation">

			<section class="offset-1 offset-md-0 col-1 mt-3 .left-nav-hidden">
				<figure class="logo"></figure>
			</section> 

			<nav class="mt-3 col-10 hidden-md-up d-flex justify-content-end right-nav-hidden">	
				<div id="hamburger" ">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

			<nav class="col-12 col-md-11 navbar mt-3 right-nav-hidden">
				
				<ul class="nav flex-column flex-md-row
				justify-content-center 
				justify-content-md-end 
				text-center">
					<li class="nav-link"><a href="#about_me">About Me</a></li>
					<li class="nav-link"><a href="#education">My Education</a></li>
					<li class="nav-link"><a href="#my_skills">My Skills</a></li>
					<li class="nav-link"><a href="#my_portfolio">My Portfolio</a></li>
					<li class="nav-link"><a href="#contact">Contact Me</a></li>
				</ul>

			</nav>
		</section>
</section>