	<section id="about_me">
		
		<div class="container-fluid">

			<div class="row ab_passion justify-content-center">
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4">
					<div class="left ab_text left-hidden">
						<h3><span>01.</span> Passion</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis orci ac nisi mollis sollicitudin quis sed eros. </p>
					</div>
					
				</article>
				<div class="rounded-circle hidden-md-down"></div>
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4">
					<div class="right ab_tooltip right-hidden">
						<h1>122</h1>
						<p>Sleepless Night</p>
					</div>
					
				</article>

			</div>
			<div class="row ab_certification justify-content-center">
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4 small">
					<div class="left ab_tooltip left-hidden">
						<h1>5</h1>
						<p>Certyfication</p>
					</div>
				</article>
				<div class="rounded-circle hidden-md-down"></div>
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4">
					<div class="right ab_text right-hidden">
						<h3><span>02.</span> Knowledge</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis orci ac nisi mollis sollicitudin quis sed eros. </p>
					</div>
				</article>
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4 hidden-md-up">
					<div class="left ab_tooltip left-hidden">
						<h1>5</h1>
						<p>Certyfication</p>
					</div>
				</article>
			</div>
			<div class="row ab_experience justify-content-center">
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4">
					<div class="left ab_text left-hidden">
						<h3><span>03.</span> Experience</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis orci ac nisi mollis sollicitudin quis sed eros. </p>
					</div>
				</article>
				<div class="rounded-circle hidden-md-down"></div>
				<article class="column col-12 col-md-6 col-lg-5 col-xl-4">
					<div class="right ab_tooltip right-hidden">
						<h1>232</h1>
						<p>Projects</p>
						
					</div>
				</article>
			</div>
			<div class="about-me-line hidden-md-down"></div>
		</div>
		<div class="triangle">
			
		</div>
	</section> 