<section id="my_portfolio">
	
	<article class="container">
		<div class="card-group justify-content-between">
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
				<div class="details">
					<div class="details-title">
						<h1>Digital Agency Layout</h1>
						<div class="stars">
							<div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
							<div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
							<div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
							<div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
							<div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
						</div>
					</div>
					<p>
						Donec malesuada facilisis purus et egestas Nulla dictum ante quis tortor facilisis facilisis non sed erat
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="./assets/img/portfolio.png"/>
			</div>

		</div>
	</article>
	<div class="triangle"></div>
</section>