<section id="my_skills" class="bg">
	<div class="container-fluid">
		<div #mySkillsRow class="row">
			<div class="col-12 col-md-3">
				<app-chart [percent]='30'></app-chart>
				<p class="mt-3" >UI/UX</p>
			</div>
			<div class="col-12 col-md-3">
				<app-chart [percent]='60'></app-chart>
				<p class="mt-3">UI/UX</p>
			</div>
			<div class="col-12 col-md-3">
				<app-chart [percent]='10'></app-chart>
				<p class="mt-3" >UI/UX</p>
			</div>
			<div class="col-12 col-md-3">
				<app-chart [percent]='75'></app-chart>
				<p class="mt-3">UI/UX</p>
			</div>
		</div>
	</div>
	<div class="triangle-up"></div>
</section>