#my_skills{
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	color:#FFFFFF;
	position:relative;
	&.bg{
		position:relative;
		background:url(../../assets/img/skills_bg.jpg) no-repeat center;
		background-size: cover;
		min-height:100%;
		background-attachment: scroll;

	}
	.row{
		padding-top:7rem;
		padding-bottom:7rem;
		transition:opacity .5s;
		opacity:0;
	}
	
	p{
		font-size:1.375rem;
	}
}